
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Usual developer cruft informally assisting work.
/tmp
*.tmp
*.swp
*.swo
*.orig
*.rej
*.dep
Downloads/
Documents/
Music/
Packages/
usr/
# bin/
!bin/.gitignore
!.gdbinit
examples.desktop
gerrit/
zglue-bill/
git-repo/
pkgs.list.centos
src/
workspace/
home-env/bin

# bin files not to be tracked
astyle
astyled
# checkpatch.pl
eclipse/
embedded
*.log
log.*
jre
jre1.8.0_121/
mergehex
# nrf-debug
# nrfjprog
# nuttx-debug
# restyle
/*.txt
/patch.*
!patches/
/fw_devtools
a[a]*
b[b]*
c[c]*
d[d]*
f[f]*
g[g]*
foo*
boo*
goo*
hoo*
git-hub/
warnings/
Pictures/
scripts/
Downloads/
Desktop/
Videos
/.vim/.netrwhist
klone
/firefox
/share
/Downloads
/bin/home-env
/snap
/work
*.gz
*.zip
*.tar
*.bz2
*.7z
*.pdf
/bigbig
*.deb
.gnupg/
autorun/
/Documents
/.vim
/Qt
GTAGS
GRTAGS
GPATH
__pycache__/
/home-env/
patch.*
freeze.*
*.patch
*.freeze
lib/
ig.*
git-cinnabar
www.*
PycharmProjects/
state/
